<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width:259.1pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:7.2pt; vertical-align:top;">
                <h1 style="margin-top:7pt; margin-bottom:0pt; line-height:110%; font-size:12pt;"><span style="letter-spacing:0.2pt; color:#595959;">Danone djurdjura alg&eacute;rie</span></h1>
                <p style="margin-top:0pt; margin-bottom:12pt; line-height:110%; font-size:11pt;"><em><span style="letter-spacing:0.2pt; color:#595959;">One planet, One health</span></em><em><span style="letter-spacing:0.2pt;">&nbsp;</span></em></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="background-color:#ffffff;">Zone Industrielle Taharacht, 06001 Akbou</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Phone: <a href="tel:034196169" style="text-decoration:none;"><span style="color:#000000;">034 196 169</span></a></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Fax: 0982 400 948</p>
            </td>
            <td style="width:269.4pt; padding-bottom:7.2pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:36pt; text-align:right; line-height:110%; font-size:20pt;"><strong><span style="text-transform:uppercase; letter-spacing:-0.2pt; color:#595959;">FACTURE</span></strong></p>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Facture:</span><span style="font-weight:normal; letter-spacing:0.2pt;">&nbsp;</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">{{ variables.CodeFacture }}</span></h2>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Date facture</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;{{ variables.DateFacture }}</span></h2>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Commande</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;{{ variables.CodeCommande}}</span></h2>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr style="height:72pt;">
            <td style="width:258.5pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:2.9pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">Destinataire:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.CodeClient }}</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.DescriptionClient }}</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.TelClient }}</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.EmailClient }}</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">&nbsp;</p>
            </td>
            <td style="width:258.5pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:2.9pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">Adresse de Livraison</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.AddressLivraison }}</p>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr style="height:43.2pt;">
            <td style="width:528.5pt; padding:3.6pt 5.75pt 14.4pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">ADMINISTRATEUR DES VENTES</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.ADV }}</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Code Produit</span></h4>
            </th>
            <th style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Description Produit</span></h4>
            </th>
            <th style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Quantit&eacute;</span></h4>
            </th>
            <th style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Prix Unitaire</span></h4>
            </th>
            <th style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Remise</span></h4>
            </th>
            <th style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Prix Net</span></h4>
            </th>
            <th style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">MontantHT</span></h4>
            </th>
        </tr>
        {% for row in table %}
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.CodeProduit }}</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.DescriptionProduit }}</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.Quantite }}</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.PrixUnitaire }}</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.Remise }}</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.PrixNet }}</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">{{ row.MontantHT }}</span></h4>
            </td>
        </tr>
        {% endfor %}
    </thead>
</table>
<table cellpadding="0" cellspacing="0" style="width:84.9%; margin-left:81.25pt; border-collapse:collapse;">
    <tbody>
        <tr style="height:6pt;">
            <td style="width:125.5pt; border-bottom-style:solid; border-bottom-width:1.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; padding:2.15pt 5.38pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total Quantit&Eacute;</span></h5>
            </td>
            <td style="width:172.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">{{ variables.TotalQuantite }}</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td rowspan="3" style="width:125.5pt; border-style:solid; border-width:1.5pt; padding:2.15pt 5pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Mode de paiement</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.ModePaiement }}</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Date d&apos;&eacute;ch&eacute;ance</strong></p>
                <h5 style="margin-top:2pt; margin-bottom:0pt; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal;">{{ variables.DateEcheance }}</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">TOTAL HT&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">{{ variables.TotalHT }}</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">TAUX TVA&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">{{ variables.TauxTVA }}</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total TVA&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">{{ variables.TVA }}</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.5pt; border-top-style:solid; border-top-width:1.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; padding:2.15pt 5.38pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total TTC</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt 0.75pt 1.5pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">{{ variables.TTC }}</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:1.5pt; padding:2.15pt 5pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:1.5pt; padding:2.15pt 5pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong>TOTAL A REGLER</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;">{{ variables.TTC }}</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width:344.45pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Arr&ecirc;t&eacute;e la pr&eacute;sent la somme de :</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">{{ variables.TTC_TXT }}</p>
            </td>
            <td style="width:173.45pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>&nbsp;</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><span style="width:61.3pt; display:inline-block;">&nbsp;</span></p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>