<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width:259.1pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:7.2pt; vertical-align:top;">
                <h1 style="margin-top:7pt; margin-bottom:0pt; line-height:110%; font-size:12pt;"><span style="letter-spacing:0.2pt; color:#595959;">Danone djurdjura alg&eacute;rie</span></h1>
                <p style="margin-top:0pt; margin-bottom:12pt; line-height:110%; font-size:11pt;"><em><span style="letter-spacing:0.2pt; color:#595959;">One planet, One health</span></em><em><span style="letter-spacing:0.2pt;">&nbsp;</span></em></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="background-color:#ffffff;">Zone Industrielle Taharacht, 06001 Akbou</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Phone: <a href="tel:034196169" style="text-decoration:none;"><span style="color:#000000;">034 196 169</span></a></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Fax: 0982 400 948</p>
            </td>
            <td style="width:269.4pt; padding-bottom:7.2pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:36pt; text-align:right; line-height:110%; font-size:20pt;"><strong><span style="text-transform:uppercase; letter-spacing:-0.2pt; color:#595959;">FACTURE</span></strong></p>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Facture:</span><span style="font-weight:normal; letter-spacing:0.2pt;">&nbsp;</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">F-170815-6-1</span></h2>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Date facture</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;2017-08-15</span></h2>
                <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:right; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Commande</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span><span style="font-weight:normal; text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;C-170815-63-1</span></h2>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr style="height:72pt;">
            <td style="width:258.5pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:2.9pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">Destinataire:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">63</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">BF Lumia: 5 secteurs dans la wilaya de Bejaia, capacité de stockage de 20 palettes (1320 caisses)</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">0778510983</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">BF_Lumia@gmail.com</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">&nbsp;</p>
            </td>
            <td style="width:258.5pt; padding-right:5.75pt; padding-left:5.75pt; padding-bottom:2.9pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">Adresse de Livraison</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Béjaia Lotissement Zaouche</p>
            </td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <tbody>
        <tr style="height:43.2pt;">
            <td style="width:528.5pt; padding:3.6pt 5.75pt 14.4pt; vertical-align:top;">
                <h3 style="margin-top:0pt; margin-bottom:0pt; line-height:110%; font-size:11pt;"><span style="text-transform:uppercase; letter-spacing:0.2pt;">ADMINISTRATEUR DES VENTES</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">&nbsp;</span><span style="text-transform:uppercase; letter-spacing:0.2pt;">:</span></h3>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">Badji Mohamed | Akbou | 0770919370 | badji.mohamed@danone.com</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Code Produit</span></h4>
            </th>
            <th style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Description Produit</span></h4>
            </th>
            <th style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Quantit&eacute;</span></h4>
            </th>
            <th style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Prix Unitaire</span></h4>
            </th>
            <th style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Remise</span></h4>
            </th>
            <th style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">Prix Net</span></h4>
            </th>
            <th style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="letter-spacing:0.2pt;">MontantHT</span></h4>
            </th>
        </tr>
        
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">2-100G-2</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">ACTIVIA Drink Frmb Grnd 100G Pack</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">Palette: 0 Carton: 669 Unite:0</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">25.5017</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">0.00 %</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">25.5017</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">102363.8238</span></h4>
            </td>
        </tr>
        
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">3-0.88L-1</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">DANAO Pet Orng Anan 0.88L Pack</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">Palette: 0 Carton: 61 Unite:0</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">130.9952</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">0.00 %</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">130.9952</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;"> 15981.4144</span></h4>
            </td>
        </tr>
        
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">4-85G-14</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">DANETTE Edition ChBL  NEW 85G Pack</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">Palette: 0 Carton: 1241 Unite:0</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">31.5</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">0.00 %</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">31.5</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">312732.0000</span></h4>
            </td>
        </tr>
        
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">5-40G-3</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">DANINO GERVAIS FRAISE 40G Pack</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">Palette: 0 Carton: 8123 Unite:0</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">17.0051</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">0.00 %</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">17.0051</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">552529.7092</span></h4>
            </td>
        </tr>
        
        <tr>
            <td style="width:64pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">6-90G-2</span></h4>
            </td>
            <td style="width:115.25pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">DANONE Bra Citr  NEW 90G Pack</span></h4>
            </td>
            <td style="width:69.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">Palette: 1 Carton: 1555 Unite:0</span></h4>
            </td>
            <td style="width:60.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">21.5</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">0.00 %</span></h4>
            </td>
            <td style="width:42.5pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">21.5</span></h4>
            </td>
            <td style="width:64.75pt; border-style:solid; border-width:1.5pt 0.75pt 0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <h4 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-inside:avoid; page-break-after:avoid; line-height:110%; font-size:11pt;"><span style="font-weight:normal; letter-spacing:0.2pt;">632186.0000</span></h4>
            </td>
        </tr>
        
    </thead>
</table>
<table cellpadding="0" cellspacing="0" style="width:84.9%; margin-left:81.25pt; border-collapse:collapse;">
    <tbody>
        <tr style="height:6pt;">
            <td style="width:125.5pt; border-bottom-style:solid; border-bottom-width:1.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; padding:2.15pt 5.38pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total Quantit&Eacute;</span></h5>
            </td>
            <td style="width:172.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">Palette: 1 Carton: 11649 Unite:0</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td rowspan="3" style="width:125.5pt; border-style:solid; border-width:1.5pt; padding:2.15pt 5pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Mode de paiement</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">PayPal</p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Date d&apos;&eacute;ch&eacute;ance</strong></p>
                <h5 style="margin-top:2pt; margin-bottom:0pt; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal;">2017-08-30</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">TOTAL HT&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">1 615 792,95</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">TAUX TVA&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">19.0</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:1.5pt; padding:2.15pt 5.38pt 2.15pt 5pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total TVA&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">307 000,66</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.5pt; border-top-style:solid; border-top-width:1.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:0.75pt; padding:2.15pt 5.38pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">Total TTC</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:0.75pt 0.75pt 1.5pt; padding:2.15pt 5.38pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;">1 922 793,61</p>
            </td>
        </tr>
        <tr style="height:6pt;">
            <td style="width:125.5pt; padding:2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:125.55pt; border-right-style:solid; border-right-width:1.5pt; padding:2.15pt 5pt 2.15pt 5.75pt; vertical-align:top;">
                <h5 style="margin-top:2pt; margin-bottom:0pt; text-align:right; page-break-inside:avoid; page-break-after:avoid; font-size:12pt;"><span style="font-weight:normal; text-transform:uppercase;">&nbsp;</span></h5>
            </td>
            <td style="width:172.7pt; border-style:solid; border-width:1.5pt; padding:2.15pt 5pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong>TOTAL A REGLER</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;">1 922 793,61</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width:344.45pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>Arr&ecirc;t&eacute;e la pr&eacute;sent la somme de :</strong></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">un million neuf cent vingt-deux mille sept cent quatre-vingt-treize virgule six un</p>
            </td>
            <td style="width:173.45pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong>&nbsp;</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><span style="width:61.3pt; display:inline-block;">&nbsp;</span></p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>